<table boarder="1" cellspacing="1" cellpadding="5">
	<tr>
		<td><f:translate key="pi1_title" /></td>
		<td><f:translate key="pi1_white" /></td>
		<td><f:translate key="pi1_black" /></td>
	</tr>
	<f:for each="{games}" as="game">
		<tr>
			<td>
				<f:link.action controller="Games" action="show" arguments="{game:game}">
					{game.title}
				</f:link.action>
			</td>
			<td>{game.white}</td>
			<td><f:format.date>{game.playDate}</f:format.date></td>
		</tr>
	</f:for>
</table>
<f:link.action controller="Games" action="new"><f:translate key="pi1_upload_game" /></f:link.action>
